.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge Hide Scroll Bar*/
  scrollbar-width: none;  /* Firefox */
  background-color: rgb(231, 231, 231);
}

.app::-webkit-scrollbar {
  display: none; /* Chrome Safari Opera Hide Scroll Bar*/
}

.greenColor div {
  color: green!important;
}

.redColor div{
  color: red!important;
}
