.orderDetails {
  margin-top: 4rem;
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.subTotal {
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
}

.subTotal p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .orderDetails {
    margin-top: 5rem;
  }
}
